.container {
  display: grid;
  /* Style rows and columns */
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  height: auto;
  width: auto;
}

#title {
  grid-column-start: 1;
  grid-column-end: 3;

}

.friend {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

/* Style other types of family members below*/
.siblings{
  grid-column-start: 1;
  grid-column-end: 3;

}
.AuntsUncles{
  grid-column-start: 1;
  grid-column-end: 2;

}
.Grandparents{
  grid-column-start: 1;
  grid-column-end: 3;

}

